.current-card {
  width: 45%;
  background-color: white;
  padding: 5px;
  border-radius: 2px;
  text-align: right;
  height: 100px;
  overflow: hidden;
}

.current-card > h2 {
  line-height: 0.2em;
}

.current-card > p {
  font-size: 14px;
}

.current-card > p > span {
  color: rgb(5, 124, 235);
  font-size: 14px;
}
