.login-div{
  
  }
  .message-text{
    background-color: rgba(160, 158, 158, 0.842);
  }
  .message-login{
    background-color: chartreuse;
    border-radius: 20px;
   font-weight: bold;
    padding: 7px;
   
  }
  .message-container{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
  }

  .recomnde {

    width: 70%;
    margin-top: 32px;
    height: fit-content;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
    box-shadow: 0 12px 6px -3px #cccccc;
    overflow: scroll;
    border-radius: 5px;
  }