.recomnde {
  width: 70%;
  margin-top: 32px;
  height: fit-content;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  text-align: right;
  box-shadow: 0 12px 6px -3px #cccccc;
  overflow: scroll;
  border-radius: 5px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.recomnde::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.recomnde {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.recomend__info {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.select {
  width: 200px;
  height: 30px;
  direction: rtl;
}
.reomnde__FirstHalf {
  text-align: right;
  width: 45%;
  /* height: 240px; */
}

.reomnde__SecindHalf {
  text-align: right;
  margin-left: 30px;
  width: 45%;
  padding: 16px;
}
.reomnde__SecindHalf > input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 15px;
  border: 5px solid black;
  outline: none;
  width: 100%;
  margin-bottom: 3px;
}
.reomnde__SecindHalf > textarea {
  outline: none;
  margin-top: 5px;
  border: 5px solid black;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
}

form {
  width: 100%;
}
